$border-size: 3px;
$handle-long: 100%;
$handle-thick: 0.75rem;

.strongAnnotation {
  cursor: crosshair;
  pointer-events: all;

  .void {
    height: 100%;
    width: 100%;
    pointer-events: all;
  }

  &.box {
    border: $border-size solid var(--ion-color-base, var(--ion-color-dark));
  }

  &.point {
    height: 32px;
    width: 32px;
    transform: translate(-50%, -50%);
    border: none ;

    .vertical, .horizontal {
      background: var(--ion-color-base);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 1px;
    }

    .vertical {
      height: 2rem;
      width: 2px;
    }

    .horizontal {
      width: 2rem;
      height: 2px;
    }
  }

  &.disabled, &.editDisabled {
    cursor: default;
  }

  &.disabled {
    opacity: 0.75;

    .header {
      cursor: default;
    }
  }

  &.editDisabled, &.editDisabled * {
    pointer-events: none !important;
  }

  &.pointerSelect {
    pointer-events: auto;
    cursor: crosshair;
  }

  .header {
    display: grid;
    align-items: center;
    align-content: center;
    justify-items: center;
    grid-template-columns: auto auto 1fr auto auto;
    pointer-events: all;
    background: var(--ion-color-base);
    color: var(--ion-color-contrast);
    position: absolute;
    left: 50%;
    width: calc(100% + 2 * $border-size); /* Box border size */
    min-width: fit-content;
    border-radius: 0.25rem;
    gap: 0.5rem;
    padding: 0 0.25rem;
    white-space: nowrap;
    cursor: move;

    &.over {
      top: 0;
      transform: translate(-50%, -100%);

      &.stickLeft, &.stickRight {
        transform: translate(0%, -100%);
      }
    }

    &.bellow {
      bottom: 0;
      transform: translate(-50%, 100%);

      &.stickLeft, &.stickRight {
        transform: translate(0%, 100%);
      }
    }

    &.stickLeft {
      left: calc(-1 * $border-size);
    }

    &.stickRight {
      left: unset;
      right: calc(-1 * $border-size);
    }

    > * {
      font-size: .9rem;
    }

    .button {
      cursor: pointer;
    }

    p {
      font-size: .75rem;
    }

    .outlineIcon path {
      stroke-width: 3rem;
    }
  }
}

.focusedBloc {
  grid-area: current;

  .content {
    display: grid;
    justify-items: start;
    align-items: center;
    gap: 0.5rem;

    ion-note {
      grid-column: 1 / -1;
      font-style: italic;
    }
  }
}

.info {
  display: grid;
  gap: 0 1rem;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-items: start;

  .mainIcon {
    grid-row: 1 / 4;
  }
}

.item {
  display: grid;
  grid-auto-flow: column;
  gap: 0 0.5rem;
  align-items: center;
  justify-content: start;

  p {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  &:not(.active) {
    opacity: 0.5;
  }

  &.presenceLabel {
    grid-column: 1 / 4;

    span {
      font-size: 0.8rem;
    }
  }

  &.strongLabel p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
  }
}

.results {
  grid-area: results;
}
