.info {
  display: grid;
  gap: 3rem;
  align-content: start;
  justify-content: start;
  justify-items: start;
  font-size: 0.9rem;
  overflow: auto;
  height: 100%;

  .bloc {
    display: grid;
    gap: 0.5rem;
    width: 100%;
    justify-items: start;

    > div {
      width: 100%;
      overflow: hidden;
    }

    h4 {
      margin: 0;
    }

    .progress {
      width: 20rem;
    }
  }

  p {
    word-break: break-word;
    text-wrap: wrap;
    width: 100%;
  }
}