.downloadCell {
  grid-auto-flow: row !important;
  gap: 0 !important;
}

.gridSpinner {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.importModal {
  &.filled {
    grid-template-rows: auto auto 1fr auto;
  }

  .content {
    display: grid;
    gap: 0.5rem;
    overflow: auto;
  }
}
