.Popup {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0.25rem 0.5rem;
  position: relative;
  background-color: var(--color-light-tint);
  border-radius: 0.25rem;

  color: var(--color-medium);
  box-shadow: var(--box-shadow-small);
  transform-origin: var(--transform-origin);
  transition: scale 100ms ease-out,
  opacity 100ms ease-out;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    scale: 0.98;
  }

  &[data-instant] {
    transition: none;
  }
}

.Arrow {
  display: block;
  position: relative;
  width: 12px;
  height: 6px;
  overflow: clip;

  &[data-side='top'] {
    bottom: -6px;
    rotate: 180deg;
  }

  &[data-side='bottom'] {
    top: -6px;
    rotate: 0deg;
  }

  &[data-side='left'] {
    right: -9px;
    rotate: 90deg;
  }

  &[data-side='right'] {
    left: -9px;
    rotate: -90deg;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    box-sizing: border-box;
    width: calc(6px * sqrt(2));
    height: calc(6px * sqrt(2));
    background-color: var(--color-light-tint);
    border: none;
    transform: translate(-50%, 50%) rotate(45deg);
    box-shadow: var(--box-shadow-small);
  }
}