# * osmose_back
#     * Following environment variables needs to be declared on the run:
#         * ENV : production (by default, environment is set to development)
#         * SECRET_KEY : security key for the application (ex: result of `openssl rand -base64 32`)
#         * OSMOSE_HOST : URL of the application (ex: osmose.fr)
#         * OSMOSE_DB_HOST : DB host (IP / DNS) (ex: 127.0.0.1)
#         * OSMOSE_DB_PORT : DB port (ex: 5432)
#         * OSMOSE_DB_USER : DB user (ex: osmose)
#         * OSMOSE_DB_PWD : DB password
#         * OSMOSE_DB_BASE : DB Aplose dedicated database name (ex: osmose)
#         * OSMOSE_PROXY_URL : Proxy host:port if needed (ex: proxy-wiz.osmose.fr:3128)
#     * Exposed port: 8000
#     * Folder dedicated to "datawork" mount: /opt/datawork
#     * Folder dedicated to server static files mount: /opt/staticfiles
#
# * osmose_front
#     * Following environment variables needs to be declared on the run:
#         * OSMOSE_BACK_HOST : Docker hostname of the back container (ex : osmose_back)
#     * Exposed port: 8080
#     * Folder dedicated to "datawork" mount: /opt/datawork
#     * Folder dedicated to server static files mount: /opt/staticfiles


stages:
  - build_image

image: docker:latest
services:
  - docker:dind
variables:
  DOCKER_DRIVER: overlay2
  ANSIBLE_FORCE_COLOR: '1'

osmose_front:
  script:
    - test -n "${CI_JOB_TOKEN}" && docker login -u gitlab-ci-token -p ${CI_JOB_TOKEN} ${CI_REGISTRY} || true
    - docker build -t ${CI_REGISTRY}/${CI_PROJECT_PATH}/${APP_NAME}:${APP_VERSION} --build-arg UID=${UID} --build-arg GID=${GID} -f ./dockerfiles/front.dockerfile .
    - docker push ${REGISTRY_PATH} ${CI_REGISTRY}/${CI_PROJECT_PATH}/${APP_NAME}:${APP_VERSION}
  stage: build_image
  rules:
    - if: $CI_COMMIT_TAG
  tags:
    - dind 
  variables:
    APP_NAME: osmose_front
    APP_VERSION: $CI_COMMIT_TAG
    CI_REGISTRY: $REGISTRY
    CI_PROJECT_PATH: $PROJECT_PATH

osmose_back:
  script:
    - test -n "${CI_JOB_TOKEN}" && docker login -u gitlab-ci-token -p ${CI_JOB_TOKEN} ${CI_REGISTRY} || true
    - docker build -t ${CI_REGISTRY}/${CI_PROJECT_PATH}/${APP_NAME}:${APP_VERSION} --build-arg UID=${UID} --build-arg GID=${GID} -f ./dockerfiles/back.dockerfile .
    - docker push ${REGISTRY_PATH} ${CI_REGISTRY}/${CI_PROJECT_PATH}/${APP_NAME}:${APP_VERSION}
  stage: build_image
  rules:
    - if: $CI_COMMIT_TAG
  tags:
    - dind 
  variables:
    APP_NAME: osmose_back
    APP_VERSION: $CI_COMMIT_TAG
    CI_REGISTRY: $REGISTRY
    CI_PROJECT_PATH: $PROJECT_PATH
