.features {
  position: absolute !important;
  overflow: hidden;
  user-select: none;
  z-index: 9;
  display: grid;
  left: min(var(--left, 0), calc(100% - 26rem));
  width: 28rem;
  max-height: 32rem;
  border: 1px solid rgba(var(--ion-color-medium-rgb), 0.15) !important;
  border-radius: 0.5rem;
  align-self: start;
  background: white;
  grid-template-rows: auto 1fr;

  h6 {
    cursor: move;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  .body {
    overflow-y: auto;
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
    padding: 1rem;
    flex-wrap: wrap;

    .table {
      overflow: visible;

      .span3Cols {
        grid-column: 1 / 4;
      }

      .span2ColsEnd {
        grid-column: 2 / 4;
      }

      .frequencyCell {
        grid-row: 1 / 18;
      }

      .phenomenaCell {
        grid-row: 23 / 31;
      }

      .checkCell, .inputCell, .cellButton {
        display: grid;
        align-items: center;
        gap: 0.5rem;
        justify-content: start;
      }

      .inputCell {
        grid-template-columns:6rem 2ch;

        &.cellButton {
          grid-template-columns:6rem 2ch auto;
        }

        &.checkCell {
          grid-template-columns: auto 6rem;
        }
      }

      .input {
        max-width: 6rem;
      }
    }

    p {
      display: grid;
      grid-auto-flow: column;
      justify-content: start;
      align-items: center;
      gap: 0.25rem;
    }
  }

  .line {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 0.5rem;
  }

  ion-note {
    text-align: start;
  }

  .switch {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: stretch;
    background: var(--ion-color-light-shade);
    border-radius: 0.5rem;
    overflow: hidden;

    > * {
      padding: 0.25rem 0.5rem;
      text-align: center;
    }

    .active {
      background: var(--ion-color-primary);
      color: var(--ion-color-primary-contrast);
    }
  }

  ion-button {
    transition: 150ms ease-in-out;
  }

  .selectedButton {
    border-radius: 0.5rem;
    box-shadow: var(--aplose-box-shadow);
  }

  .blocHeader {
    background: var(--ion-color-light-shade);
    text-align: center;
    padding: 0.5rem;
    border: none !important;
    border-bottom: 1px solid rgba(var(--ion-color-medium-rgb), 0.15) !important;
    position: relative;

    &h6, h6 {
      margin: 0;
    }

    .showButton {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
