.phase {
  display: grid;
  gap: 1.5rem;
  height: 100%;
  overflow: hidden;

  .progress {
    display: grid;
    gap: 2rem;

    grid-auto-flow: column;
    justify-content: center;
  }

  .filterButtons {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
  }

  .tasks {
    display: grid;
    gap: 1rem;
    align-content: start;
    grid-template-rows: auto 1fr;
    min-height: 0;
    max-height: 100%;
    overflow: auto;

    &.empty {
      grid-template-rows: auto auto 1fr;
    }

    .filesTable ion-button {
      --padding-top: 0 !important;
      --padding-bottom: 0 !important;
    }
  }
}

.filterModal {
  overflow: visible !important;

  > * {
    overflow: visible !important;
  }
}