.cards {
  padding-top: 2rem;
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 2rem;
  justify-content: center;
  overflow: auto;
  max-height: 100%;
}

.card {
  padding: 1rem;
  gap: 1rem;
  display: grid;
  border-radius: 1rem;
  background: var(--ion-color-light);
  box-shadow: 0 0 8px rgba(var(--ion-color-dark-rgb), 0.25),
  0 0 32px rgba(var(--ion-color-dark-rgb), 0.08);
  font-family: var(--ion-font-family), sans-serif;
  grid-template-areas: "head"
                        "property"
                        "user-progression"
                        "progression"
                        "buttons";
  grid-template-rows: auto auto 1fr auto auto;
  cursor: pointer;

  &:hover {
    box-shadow: var(--aplose-box-shadow);
  }

  .head {
    display: flex;
    flex-direction: column;
    align-items: start;
    grid-area: head;
    overflow: hidden;

    p {
      margin: 0;
    }

    .campaign {
      font-weight: 600;
      letter-spacing: 0.5px;
      font-size: 1rem;
      color: var(--ion-color-dark);
      overflow: hidden;
      max-width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .dataset {
      font-weight: 500;
      font-size: 0.8rem;
      line-height: 0.8rem;
      color: var(--ion-color-medium);
    }
  }

  .property {
    display: grid;
    gap: 0.5rem;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
    font-weight: 500;
    grid-area: property;

    .icon {
      opacity: 0.5;
    }

    .label {
      font-weight: 300;
    }
  }

  .progression {
    grid-area: progression;
  }

  .userProgression {
    grid-area: user-progression;
  }
}

.tab {
  --padding-bottom: 0.25rem;
  --padding-top: 0.5rem;
  --padding-start: 1rem;
  --padding-end: 1rem;
  --border-radius: 0rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  overflow: hidden;
  border: 1px solid rgba(var(--ion-color-medium-rgb), 0);
  border-bottom: none;

  &.active {
    border-color: rgba(var(--ion-color-medium-rgb), 0.5);
  }

  ion-icon {
    pointer-events: auto;
  }
}

.modal {
  grid-template-rows: auto 1fr auto;

  &.label {
    grid-template-rows: auto auto 1fr auto;

    > div:nth-last-child(2) {
      overflow: auto;
    }
  }

  .content {
    overflow-y: auto;
    display: grid;
    gap: 1rem;
    height: 100%;
    padding-right: 1rem;
  }

  .table {
    overflow: auto;
    grid-template-columns: 2fr 1fr;

    .stickyHead {
      position: sticky;
      top: 0;
      background: var(--ion-color-light);
      z-index: 10;
    }

    .sortedHead {
      cursor: pointer;
      transition: 300ms;
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-areas:
  "title caret-up"
  "title caret-down";
      column-gap: 0.5rem;
      align-items: center;
      align-content: center;

      p {
        grid-area: title;
        user-select: none;
      }

      .up {
        grid-area: caret-up;
      }

      .down {
        grid-area: caret-down;
      }

      .up, .down {
        color: rgba(var(--ion-color-medium-rgb), 0.5);

        &.active {
          color: var(--ion-color-medium);
        }
      }
    }

    .progressContent {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      gap: 0.5rem;

      > div {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        gap: 0 0.25rem;

        .total {
          grid-column: 1 / -1;
          text-align: center;
          line-height: 0.9rem;
        }
      }

      .icon {
        font-size: .95rem;
      }
    }
  }

  .buttons {
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
    justify-content: space-between;
  }

  @media (max-width: 800px) {
    .footer {
      grid-auto-flow: row !important;
      justify-content: center !important;
      justify-items: center;
      gap: 0.5rem;
    }

    .table.status {
      grid-template-columns: 1fr minmax(10rem, auto);
    }
  }
}
