.info {
  justify-self: center;
  display: grid;
  align-items: center;
  grid-template-columns: auto auto 1fr;
  gap: 0 1rem;
}

.importNote {
  justify-self: center;
}

.importModal {
  &.filled {
    grid-template-rows: auto auto 1fr auto;
  }

  .content {
    display: grid;
    gap: 0.5rem;
    overflow: auto;
  }
}

.campaignList {
  display: grid;
  justify-items: start;
}

.dates {
  text-wrap: nowrap;
}