
.modalBackdrop {
  font-family: var(--ion-font-family), sans-serif;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(var(--ion-color-dark-rgb), 0.15);
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 2rem;
  z-index: 5;

  @media (max-width: 800px) {
    padding: 1rem;
    justify-items: stretch;
  }

  .modal {
    background: var(--ion-color-light);
    border-radius: 2rem;
    box-shadow: var(--aplose-box-shadow);
    padding: 2rem;
    display: grid;
    gap: 1rem;
    min-width: 42rem;
    max-height: 80%;
    max-width: 80%;
    overflow: hidden;

    > * {
      max-width: 100%;
      overflow: hidden;
    }

    .header {
      display: grid;
      grid-auto-flow: column;
      justify-content: start;
      align-items: center;
      position: relative;
      gap: 1rem;

      .icon {
        font-size: 2rem;
        color: var(--ion-color-medium);
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }

    .footer {
      display: grid;
      grid-auto-flow: column;
      justify-content: space-between;
      align-items: center;
    }

    @media (max-width: 800px) {
      padding: 1rem;
      min-width: unset;
      max-width: unset;
      gap: 1rem;

      .header, .footer {
        padding: 1rem;
      }
      .header {
        padding-bottom: 0;
      }
    }
  }
}
