.Spinner {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.1rem;

  > span {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    background: linear-gradient(0deg, hsl(var(--color-primary-h), var(--color-primary-s), 95%) 33%, var(--color-primary) 100%);
    box-sizing: border-box;
    animation: rotation 1s linear infinite;

    &::after {
      content: '';
      box-sizing: border-box;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: calc(1.5rem - 4px);
      height: calc(1.5rem - 4px);
      border-radius: 50%;
      //background: hsl(var(--color-primary-h), var(--color-primary-s), 95%);
      background: white;
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}