#news-page .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: var(--content-margin);
  gap: var(--content-gap);
}

@media screen and (max-width: 1200px) {
  #news-page .content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 800px) {
  #news-page .content {
    grid-template-columns: none;
  }
}
