.cards {
  padding-top: 2rem;
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 2rem;
  justify-content: center;
  align-content: start;
  overflow: auto;
  max-height: 100%;
}
