@use 'sass:list';
@use 'sass:map';
@use 'sass:color';
@use "@/css/base";
@use "@/css/annotation";

.Chip {
  padding: 0.4rem 0.8rem;
  border-radius: 2rem;
  display: flex;
  gap: 0.6rem;
  user-select: none;
  align-items: center;

  background: map.get(base.$colors, 'dark', 'text-background');
  color: map.get(base.$colors, 'dark', 'text');

  @each $color, $map in base.$colors {
    &[data-color=#{$color}] {
      background: map.get($map, 'text-background');
      color: map.get($map, 'text');
    }
  }

  @for $index from 0 through 9 {
    &.index-#{$index} {
      $color: list.nth(annotation.$colors, $index + 1);
      color: map.get($color, text);
      background: color.change(map.get($color, base), $alpha: .1);
    }
  }

  .ChipRemove {
    opacity: 0.4;
    cursor: pointer;
    transition: 0.1s;

    &:hover {
      opacity: 0.5;
    }
  }
}