@use "@/css/base";

.Chip {
  padding: 0.4rem 0.8rem;
  border-radius: 2rem;
  display: flex;
  gap: 0.6rem;
  user-select: none;
  align-items: center;

  background-color: rgba(var(--color-dark-rgb), 0.15);
  color: var(--color-dark);
  @each $color in base.$colors {
    &[data-color=#{$color}] {
      background-color: rgba(var(--color-#{$color}-rgb), 0.15);
      color: var(--color-#{$color}-text);
    }
  }

  .ChipRemove {
    opacity: 0.4;
    cursor: pointer;
    transition: 0.1s;

    &:hover {
      opacity: 0.5;
    }
  }
}