.Form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: min(100%, 40rem);
  padding: 0 2px; // For input outlines
  overflow-y: auto;

  &.horizontal {
    flex-direction: row;
    gap: 0.5rem;
  }
}
