.page {
  display: grid;
  grid-template-rows: auto auto auto 1fr auto;
  height: 100%;
  overflow: auto;
  gap: 1rem;

  .sql {
    max-height: 12rem;
    overflow: auto;
  }

  .error {
    align-self: start;
  }
}