.Card {
  text-decoration: none;
  color: unset;
  background: var(--color-light);
  box-shadow: var(--box-shadow);
  display: grid;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;

  .Info {
    display: flex;
    flex-direction: column;
    align-items: start;

    p {
      margin: 0;
    }
  }
}