:root {
    /* Primary */
    --color-primary: #238583;
    --color-primary-text: #22817F;
    --color-primary-rgb: 35, 133, 131;
    --color-primary-h: 179;
    --color-primary-s: 58%;
    --color-primary-l: 33%;
    --color-primary-shade: #1f7573;
    --color-primary-tint: #39918f;

    /* Success */
    --color-success: #85B14D;
    --color-success-text: #618038;
    --color-success-rgb: 133, 177, 77;
    --color-success-h: 86;
    --color-success-s: 39%;
    --color-success-l: 50%;
    --color-success-shade: #759c44;
    --color-success-tint: #91b95f;

    /* Warning */
    --color-warning: #CC8229;
    --color-warning-text: #A26720;
    --color-warning-rgb: 204, 130, 41;
    --color-warning-h: 33;
    --color-warning-s: 67%;
    --color-warning-l: 48%;
    --color-warning-shade: #b47224;
    --color-warning-tint: #d18f3e;

    /* Danger */
    --color-danger: #D86045;
    --color-danger-text: #CE4A2C;
    --color-danger-rgb: 216, 96, 69;
    --color-danger-h: 11;
    --color-danger-s: 65%;
    --color-danger-l: 56%;
    --color-danger-shade: #be543d;
    --color-danger-tint: #dc7058;

    /* Light */
    --color-light: #fff;
    --color-light-rgb: 255, 255, 255;
    --color-light-shade: #F2F3F5;
    --color-light-tint: #ffffff;

    /* Medium */
    --color-medium: #6C757D;
    --color-medium-text: #6C757D;
    --color-medium-rgb: 108, 117, 125;
    --color-medium-shade: #5f676e;
    --color-medium-tint: #7b838a;

    /* Dark */
    --color-dark: #061D38;
    --color-dark-rgb: 6, 29, 56;
    --color-dark-shade: #051a31;
    --color-dark-tint: #1f344c;

    /*Old*/
    --ion-color-secondary: #00B6D9;
    --ion-color-secondary-rgb: 0, 182, 217;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #00a0bf;
    --ion-color-secondary-tint: #1abddd;

    --box-shadow-small: 0 1px 0 rgba(var(--color-dark-rgb),0.05),
                        0 0 8px rgba(var(--color-dark-rgb),0.1);
    --box-shadow: 0px 0px 2px rgba(var(--color-dark-rgb),0.05),
                  0px 0px 16px rgba(var(--color-dark-rgb),0.1);
}

#root {
    isolation: isolate;
}

body {
    margin: 0;
    color: var(--color-dark);
    font-size:  1rem;
    overflow: hidden;
}

* {
    font-family: "Exo 2", Roboto, sans-serif;
}
