.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  color: var(--ion-color-dark);
  font-family: var(--ion-font-family), sans-serif;
  padding: 0 2rem;
  max-height: 100%;
  overflow: hidden;

  @media (max-width: 800px) {
    padding: 0 1rem;
    gap: 1rem;
  }

  .content {
    display: grid;
    justify-items: center;
    gap: 2rem;
    width: 100%;
    min-height: 0;
    overflow: auto;
    padding-bottom: 2rem;

    > * {
      width: min(100%, 40rem);
    }

    .submit {
      justify-self: end;
    }
  }
}