
.fadedText {
  color: rgba(var(--ion-color-medium-rgb), 0.5);
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 400;
}

.warningText {
  justify-self: center;
  align-self: center;

  display: grid;
  justify-items: center;
  color: var(--ion-color-danger);
  border: 2px solid var(--ion-color-danger);
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  gap: 0.5rem;
  text-align: center;

  .icon {
    font-size: 2rem;
  }
}

.progress {
  display: grid;
  gap: 0.25rem;

  span[class^=ion-color-] {
    color: var(--ion-color-base);
  }
}

.kbd {
  background: var(--ion-color-light-shade);
  color: var(--ion-color-light-contrast);
  padding: 0.1rem 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid var(--ion-color-medium-tint);
  box-shadow: var(--box-shadow);

  > kbd {
    background: transparent;
    color: var(--ion-color-light-contrast);
  }
}

.tooltip {
  background: white;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: var(--aplose-box-shadow);
  padding: 0.5rem;
  gap: 0.5rem;
  display: grid;
  z-index: 5;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding-bottom: 0.25rem
}

.table {
  text-align: center;
  display: grid;
  //noinspection CssInvalidFunction
  grid-template-columns: 1fr repeat(calc(var(--content-columns, 1) - 1), auto);
  gap: 0.25rem 0;
  overflow: auto;
  max-width: 100%;
  max-height: 100%;

  &.uniqueColumn {
    grid-template-columns: 1fr;
  }

  &.firstColumnSticky > .first {
    border: none;
    border-right: 1px solid rgba(var(--ion-color-medium-rgb), 0.5);
    position: sticky;
    left: 0;
    background: white;
  }

  &.small {
    gap: 0.25rem 0;

    > .head,
    > .content {
      padding: 0.1rem 0.5rem;
    }
  }

  > .head {
    font-weight: 300;
    z-index: 1;
  }

  > .head,
  > .content {
    padding: 0.25rem 1rem;
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
    align-content: center;
    align-items: center;
    border-left: 1px solid rgba(var(--ion-color-medium-rgb), 0.5);

    &.first {
      border: none
    }
  }

  > .divider {
    height: 1px;
    background: rgba(var(--ion-color-medium-rgb), 0.5);
    grid-column: 1 / -1;
  }
}

.tabs {
  border-bottom: 1px solid rgba(var(--ion-color-medium-rgb), 0.25);
  display: flex;
  gap: 1rem;
  padding-bottom: 0.5rem;

  ion-button {
    --padding-bottom: 0.25rem;
    --padding-top: 0.5rem;
    --padding-start: 1rem;
    --padding-end: 1rem;
    --border-radius: 0rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    overflow: hidden;
    border: 1px solid rgba(var(--ion-color-medium-rgb), 0);
    border-bottom: none;

    &.active {
      border-color: rgba(var(--ion-color-medium-rgb), 0.5);
    }
  }

  .tab {
    --padding-bottom: 0.25rem;
    --padding-top: 0.5rem;
    --padding-start: 1rem;
    --padding-end: 1rem;
    --border-radius: 0rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    overflow: hidden;
    border: 1px solid rgba(var(--ion-color-medium-rgb), 0);
    border-bottom: none;

    &.active {
      border-color: rgba(var(--ion-color-medium-rgb), 0.5);
    }

    ion-icon {
      pointer-events: auto;
    }
  }
}

.head {
  display: grid;
  gap: 1rem;

  .title {
    display: grid;
    justify-items: center;
    position: relative;

    ion-note {
      align-items: center;
      display: grid;
      grid-auto-flow: column;
    }
  }

  .content, .buttons {
    display: grid;
    align-items: center;
    gap: 1rem;
  }

  .buttons {
    grid-auto-flow: column;
  }
}

.importRow {
  display: grid;
  grid-template-columns: 3rem 1fr;
  gap: 0.5rem;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  background-color: transparent;

  >:first-child {
    grid-row: 1 / 2;
    justify-self: center;
  }

  &.success > :first-child {
    color: var(--ion-color-success);
  }

  .importRow {
    grid-column: 2;
  }

  &:hover:not(:has(.importRow:hover)) {
    background-color: rgba(var(--ion-color-primary-rgb), 0.06);
  }
  &.error:hover:not(:has(.importRow:hover)) {
    background-color: rgba(var(--ion-color-danger-rgb), 0.06);
  }
}

.bloc {
  border: 1px solid rgba(var(--ion-color-medium-rgb), 0.15) !important;
  border-radius: 0.5rem;
  overflow: hidden;
  display: grid;
  align-self: start;
  background: white;
  grid-template-rows: auto 1fr;

  .header, .footer {
    background: var(--ion-color-light-shade);
    text-align: center;
    padding: 0.5rem;
    border: none !important;
    border-bottom: 1px solid rgba(var(--ion-color-medium-rgb), 0.15) !important;
    position: relative;

    &h6, h6 {
      margin: 0;
    }
  }

  .footer {
    padding: unset;
  }

  .body {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    &.center {
      justify-content: center;
    }

    &.smallSpaces {
      padding: 0.5rem 1rem;
      gap: 0.5rem;
    }

    &.vertical {
      flex-direction: column;
    }
  }
}

.actionBar {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "search action"
  "filters empty";
  align-items: center;
  gap: 0.5rem;

  .search {
    justify-self: start;
    grid-area: search;
    width: auto;
  }

  .filters {
    grid-area: filters;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
  }

  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
    grid-template-areas: "action" "search" "filters";
    gap: 1rem;
    justify-items: center;

    .search {
      width: 100%;
    }

    .filters {
      justify-content: center;
    }
  }
}
