.importModal {
  &.filled {
    grid-template-rows: auto auto 1fr auto;
  }

  .content {
    display: grid;
    gap: 0.5rem;
    overflow: auto;

    .dataset, .analysis {
      display: grid;
      grid-template-columns: 3rem 1fr;
      gap: 0.5rem;
      align-items: center;
      border-radius: 0.5rem;
      padding: 0.25rem 0.5rem;
      cursor: pointer;
      background-color: transparent;

      &:hover:not(:has(.analysis:hover)) {
        background-color: rgba(var(--ion-color-primary-rgb), 0.06);
      }
    }

    .dataset {
      .import {
        grid-row: 1 / 2;
        justify-self: center;

        &.icon {
          width: 1.5rem !important;
          height: 1.5rem !important;
          color: var(--ion-color-success);
        }
      }
      .analysis {
        grid-column: 2;
      }
    }
  }
}
