@use "@/css/base";

.Note {
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0;

  display: flex; // Fallback for browser not understanding ruby
  align-items: center;
  flex-wrap: wrap;
  gap: 0.25rem;


  @each $color in base.$colors {
    &.#{$color} {
      color: var(--color-#{$color}-text);
    }
  }
}