.panel {
  border-radius: 0.5rem;
  overflow: auto;
  padding: 2rem;
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 2rem;

  .item {
    background-color: rgba(var(--ion-color-light-rgb), 0.5);
    border-radius: 0.25rem;
    width: 100%;
    padding: 0.5rem;
    display: grid;
    gap: 1rem;

    .buttons {
      display: grid;
      grid-auto-flow: column;
      gap: 1rem;
    }
  }
}
