@use 'sass:list';
@use 'sass:map';
@use 'sass:color';
@use "@/css/base";
@use "@/css/annotation";

.labels {
  grid-area: labels;

  .showButton {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }

  @for $index from 0 through 9 {
    .colorIndicator-#{$index} {
      $color: list.nth(annotation.$colors, $index + 1);
      background: map.get($color, base);
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 0.5rem;
    }
  }
}

.button {
  display: flex;
  align-items: center;
}
